* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: aqua;
  a,h1,span,p {
    color: black;
  }
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background:#fcf9f4 ;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fe5f1e;
}
.wrapper {
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  margin: 0 auto;
}
//header styles
.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid black;
  padding: 20px 50px 20px 30px;
}
.header-logo {
  display: flex;
}
.header-logo img {
  margin-right: 15px;
}
.header-center {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 666px;
  font-weight: 600;
  font-size: 20px;
}
.header-center a {
  color: #5e6273;
}
.header-center a:hover {
  color: black;
  transition: 0.7s;
}
.button ,.button span{
  color: white;
}
.button {
  background-color: #fe5f1e;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}
.button--cart {
  align-items: center;
  display: flex;
  padding: 12px 20px;
}
.delimiter {
  height: 25px;
  margin: 0 14px 0 14px;
  width: 3px;
}
.footer {
  border-top: #404354 solid 1px;
}
.footer img{
  margin: 0 auto;
  display: block;
  width: 250px;
}
//nav styles
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 30%;
  right: 30%;
}
.nav div {
  margin: 15px 20px ;
  padding: 13px 30px;
  font-weight: 700;
  border-radius: 20px;
  background-color: #f9f9f9;
  cursor: pointer;
  color: black;
  font-size: 18px;
}
.nav div.active {
  background-color: #fe5f1e;
}

.nav .sort {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 70%;
}

.title {
  margin-top: 40px;
  margin-left: 40px;
}
//catalog styles
.catalog-wrapper {
  margin: 0 auto;
  width: 1400px;
}
.catalog-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 40px;
  
  @media (max-width:1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

}
.catalog-item {
  border-radius: 10px;
  padding: 10px 10px 60px;
  position: relative;
  text-align: center;
  height: 560px;
}
.catalog-item-wrapper {
  display: flex;
  justify-content: center;

  @media (max-width:1400px) {
    width: 400px;
  }
}
.catalog-item-img {
  position: relative;
  height: 250px;
  border-radius: 10px 10px 0 0;
  background: #fff;
}
.catalog-item-img img {
  max-width: 100%;
}
.catalog-item-name {
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  padding: 0 10px;
  font-weight: 600;

}
.catalog-item-desc {
  font-size: 12px;
  line-height: 24px;
  margin-top: 5px;
  padding: 0 30px;
  color: #a6a7ab;
}
.catalog-item-bottom {
  position: absolute;
  right: 10px;
  bottom: 15px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  margin-top: 15px;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}
.catalog-item-price {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border-radius: 0 0 0 10px;
  color: #404354;
  font-weight: 700;

}
.catalog-item .addcart div {
  font-size: 18px;
  width: 100px;
  height: 30px;
  padding: 3px 0 3px 10px;
  color: #404354;
}
.catalog-item .addcart span {
  font-size: 14px;
  text-align: center;
  color: #404354;
  font-weight: 700;
} 
.addcart {
  cursor: pointer;
}
.catalog-item:hover {
  background-color:#fff;
  box-shadow: 0px -5px 10px 0px rgb(216, 216, 216)
}

.Additem {
  border: 1px solid #fe5f1e;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  min-width: 100px;
  padding: 10px 20px;
  text-align: center;
  background-color: #fff;
  line-height: 20px;
  &:hover {
    background-color: #fe5f1e;
    b {
      color: #fff;
    }
    span {
      color: #fff;
    }
    i {
      background-color: #fff;
      color: #fe5f1e;
    }
  }
  b {
    position: relative;
    top: 2px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-right: 2px;
  }
  img {
    margin-right: 2px;
    width: 12px;
    height: 12px;
  }
  span {
    font-size: 18px;
    font-weight: 700;
  }
  i {
    background-color: #fe5f1e;
    color: #fff;
    border-radius: 28px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    width: 24px;
    line-height: 24px;
    left: 5px;
    position: relative;
    top: -1px;
  }
}
.cart {
  margin: 30px 15% 0 15%;
  &-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    &-title {
      align-items: center;
      display: flex;
      font-size: 32px;
      margin: 0;
    }
    &-clear {
      align-items: center;
      cursor: pointer;
      display: flex;
      user-select: none;
      span {
        color: #b6b6b6;
        display: inline-block;
        font-size: 18px;
        margin-left: 7px;
        font-weight: 700;   
        &:hover {
          color: black;
        }    
      }
    }
  }
  &-items {
    display: block;
  }
  &-item {
      border-top: 1px solid #f6f6f6;
      display: flex;
      margin-top: 20px;
      padding-top: 30px;
      width: 100%;
      &-img {
        align-items: center;
        display: flex;
        margin-right: 15px;
        width: 10%;
        img {
          height: 60px;
          width: 100px;
        }
      }
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        h3 {
          font-size: 22px;
          font-weight: 700;
          letter-spacing: .01em;
          line-height: 27px;
        }
        p {
          color: #8d8d8d;
          font-size: 18px;
        }
      }
      &-count {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 10%;
        img {
          height: 10px;
          width: 10px;
        }
        b {
          font-size: 22px;
        }
        .button--minus {
          align-items: center;
          border-width: 2px;
          display: flex;
          height: 32px;
          justify-content: center;
          min-width: 32px;
          padding: 0;
          width: 32px;
          color: #fe5f1e;
          background-color: #fff;
          border-color: #fe5f1e;
          &:hover {
            background-color: #fe5f1e;
          }
        }
        .button--plus {
          align-items: center;
          border-width: 2px;
          display: flex;
          height: 32px;
          justify-content: center;
          min-width: 32px;
          padding: 0;
          width: 32px;
          color: #fe5f1e;
          background-color: #fff;
          border-color: #fe5f1e;
          &:hover {
            background-color: #fe5f1e;
          }
        }
      }
      &-price {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 33%;
        b {
          font-size: 22px;
          font-weight: 700;
          letter-spacing: .01em;
        }
      }
      &-remove {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 4%;
        img {
          width: 10px;
          height: 10px;
        }
        .button--del {
          align-items: center;
          border-width: 2px;
          display: flex;
          height: 32px;
          justify-content: center;
          min-width: 32px;
          padding: 0;
          width: 32px;
          color: #fe5f1e;
          background-color: #fff;
          border-color: #fe5f1e;
          &:hover {
            background-color: #fe5f1e;
          }
        }
      }
    }
  &-bottom {
    margin: 50px 0 ;
    &-details {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 22px;
        b {
          font-weight: bold;
        } 
      }
      span:last-of-type {
        b {
          font-weight: bold;
          color: #fe5f1e;
        }
      }
    }
    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      a {
        align-items: center;
        border-color: #ddd;
        display: flex;
        justify-content: center;
        width: 210px;
        border: 1px solid #ddd;
        border-radius: 30px;
        cursor: pointer;
        min-width: 100px;
        padding: 10px 20px;
        text-align: center;
        &:hover {
          background-color: black;
          span {
            color: #ddd;
          }
        }
        span {
          color: #c3c3c3;
          font-weight: 600;
          font-size: 16px;

        }
      }
      .button-pay {
        font-size: 16px;
        font-weight: 600;
        padding: 16px;
        width: 210px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        cursor: pointer;
        min-width: 100px;
        padding: 10px 20px;
        text-align: center;
        &:hover {
          background-color: #fe5f1e;
          span {
            color: black;
          }
        }
        span {
          color: #fe5f1e;
        }
      }
    }
  }
}
//main page 
.main {
  width: 1400px;
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
  
  img {
    width: 1250px;
  }
  &-upper {
    height: 1000px;

  }
  &-info {
    width: 100%;
    &-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      h1 {
        font-size: 44px;
        font-weight: 700;
        background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: rainbow 15s ease infinite;
        animation: rainbow 15s ease infinite;
        @-webkit-keyframes rainbow {
          0% { background-position: 0% 50% }
          50% { background-position: 100% 50% }
          100% { background-position: 0% 50% }
        }
        @keyframes rainbow {
          0% { background-position: 0% 50% }
          50% { background-position: 100% 50% }
          100% { background-position: 0% 50% }
        }
      }
      span {
        color: #404354;
        font-style: italic;
      }
    }
    &-items {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(129, 127, 127, 0.15);
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 25px 0 5px 0;
    }
    &-item {
      display: flex;
      align-items: center;
      img {
        height: 26px;
        width: 32px;
      }
      &-desc {
        div {
          text-transform: lowercase;
          font-weight: 600;
          color: #404354;
        }
        span {
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}
.about {
  width: 1400px;
  margin: 20px auto;
  &-audio {
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
    audio {
      width: 400px;
    } 
      audio::-webkit-media-controls-timeline {
        margin: 0 10px;
      }
      audio::-webkit-media-controls-timeline:hover {
        border-radius: 12px;
        background-color: #fff;
      }
      audio::-webkit-media-controls-panel {
        background-color: #fe5f1e;
      }
      audio::-webkit-media-controls-mute-button:hover {
        background-color: #fff;
        border-radius: 12px;
      }
      audio::-webkit-media-controls-play-button:hover {
        border-radius: 12px;
        background-color: #fff
      }
      audio::-webkit-media-controls-current-time-display {
        color: #fff;
      }
      audio::-webkit-media-controls-time-remaining-display {
        color: #fff;
      }
      audio::-webkit-media-controls-volume-slider {
        background-color: #fff;
        border-radius: 12px;
        padding-left: 8px;
        padding-right: 8px;
      }

    &-item {
      display: flex;
      flex-direction: column;
      &-tag {
        font-weight: 700;
        background: linear-gradient(to right, rgb(255, 38, 0), rgb(255, 226, 59), rgb(243, 243, 19), rgb(53, 241, 84), rgb(19, 243, 224), rgb(39, 39, 245), rgb(245, 77, 245));
        background-size: 400% 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: rainbow 10s ease infinite;
        animation: rainbow 10s ease infinite;
        @-webkit-keyframes rainbow {
          0% { background-position: 0% 50% }
          50% { background-position: 100% 50% }
          100% { background-position: 0% 50% }
        }
        @keyframes rainbow {
          0% { background-position: 0% 50% }
          50% { background-position: 100% 50% }
          100% { background-position: 0% 50% }
        }
      }
    }
  }
  div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 700;
  }
  li {
    margin: 0 auto 40px auto;
    width: 1000px;
    font-size: 20px;
  }
  .about-top {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
}
.Delivery {
  width: 1000px;
  margin: 20px auto;
  &-header {
    display: flex;
    justify-content: center;
    font-size: 44px;
    font-weight: 700;
    &-item {
      display: flex;
      justify-content: center;
      margin: 0 0 27px;
      padding: 5px 0 0;
      font-size: 24px;
      font-weight: 700;
    }
  }
  &-politics {
    padding-bottom: 2px;
    &-items {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      &-item {
        display: flex;
        margin: 20px 0 20px 0;
        align-items: center;
        font-size: 16px;
        gap: 20px;
        img {
          width: 44px;
        }
        h1 {
          font-size: 20px;
        }
        li {
          font-size: 16px;
        }
        &-green {
          color: green;
        }
        &-yellow {
          color: rgb(255, 174, 0);
        }
        &-red {
          color: red;
        }
      }
    }
  }
  &-zones {
    display: flex;
    justify-content: center;
    &-title {
      display: flex;
      justify-content: center;
      font-size: 44px;
      font-weight: 700;
      margin-bottom: 40px;
    }
  }
}
.Payment {
  margin: 0 0 27px;
  padding: 5px 0 0;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  &-items {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
    gap: 50px;
    margin-bottom: 70px;
    &-item {
      display: block;
      width: 275px;
      text-align: center;
      padding-right: 20px;
      box-sizing: border-box;
      position: relative;
      padding-top: 12px;
      img {
        text-align: center;
        width: 80px;
      }
      h2 {
        margin-bottom: 12px;
        padding-top: 20px;
      }
      p {
        margin-bottom: 11px;
        font-size: 16px;
      }
    }
  }

}